.mainDiv {
  height: max-content;
  width: 100%;
}
.socialDiv {
  margin: 34px;
  width: 302.645px;
  height: 408px;
  color: #fff;
  font-family: Maitree;
  /* font-size: 32px;
  font-style: normal;
  font-weight: 400; */
  line-height: normal;
  flex-shrink: 0;
  border-radius: 36.595px;
  background: radial-gradient(64.1% 64.1% at 50% 50%, #385d6d 0%, #2c3234 100%);
}
.heading {
  text-align: start;
  padding: 10px;
  margin: 10px 20px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.bannerDiv {
  display: flex;
  margin-left: 55px;
}
.subheading {
  text-align: start;
  margin: 10px 20px;
  color: #fff;
  font-family: "Inria Serif", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subTitle {
  width: 89%;
  text-align: start;
  margin: 10px 20px;
  color: #fff;
  font-family: "Jura", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.btn {
  margin: 20px;
  display: flex;
  height: 30px;
  width: 90px;
  border: 2px solid #000;
  background: #30edf3;
  color: #000;
  text-align: center;
  font-family: Jura;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ieeeText {
  -webkit-text-stroke-width: 3;
  -webkit-text-stroke-color: #fff;
  color: #fff;
  font-family: "Lexend Deca";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
