/* NavPage.css */
.centered-list {
  display: flex;

  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Make the container take the full height */
}

.centered-list ul {
  list-style-type: none;
  width: 70%;
  font-weight: 500;
  font-size: x-large; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}
.closeBtnDiv {
  display: flex;
  align-items: end;
  justify-content: end;
}
.closeBtnDiv button {
  background: transparent;
  color: white;
  border: none;
  margin: 10px;
}

.centered-list li {
  margin-bottom: 40px;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.centered-list li a {
  color: black;
  text-decoration: none;
}
